@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Find your next vacation destination here <a href="/destination"></a> and what people have to say about it!</p>
</div>
