@{
  ViewData["Title"] = "Delete Review";
}

@model TravelApiClient.Models.Review

<h4>Are you sure you want to delete review @Model.ReviewId ?</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary"/>
}

@Html.ActionLink("Back to destinations", "Index", "Destination")